# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
infra/envs/*/backend.hcl
**/terraform.tfvars

# Python
.venv/
__pycache__/

# Build artifacts
dist/

# OS temporary files
**/.DS_Store
